select {
  /* Xoá mặc định */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  padding: 10px 40px 10px 10px; 
  width: 200px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: "";
  position: absolute; 
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);

  width: 12px;
  height: 12px;
  background: url("./angle-down-solid.svg") no-repeat center;
  background-size: contain;

  pointer-events: none; 
}
